@model TypingMVCCore.ViewModels.TypingViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bookPages = @Html.Raw(Json.Serialize(Model.BookPages));
    var isIntroduction = @ViewBag.IsIntroduction == true ? 1 : 0;
}

<h1>
    <span class="text-dark" id="typed_content"></span><span class="blink_text">|</span><span id="book_content">@Model.BookPages[@Model.CurrentBookPage]</span>
</h1>
<h6 class="text-dark">
    <br />@Model.BookTitle.ToUpper() by @Model.BookAuthors
</h6>



<div class="statistic">
    @{ Html.RenderPartial("_StatisticsContainer", new List<int> { 000 }); }
</div>


<script type="text/javascript">
    typingBook(@Model.CurrentBookPage, @bookPages, @isIntroduction);
</script>