@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>press SPACE</h1>
    <p class="lead">To start typing a introduction to the app!</p>
    <p><a href="@Url.Action("Index", "Typing")" class="btn btn-primary btn-lg">Start/Continue &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Chose a book!</h2>
        <p>
            Press <b>Shift</b> key to choose a book.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("ChoseBook", "Typing")">Chose/Change a book &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Settings</h2>
        <p>Press <b>Esc</b> key to go to the app settings.</p>
        <p><a class="btn btn-default" href="@Url.Action("Settings", "Home")">Settings &raquo;</a></p>
    </div>
</div>


<script type="text/javascript">
    document.onkeydown = function (event) {

        if (event.keyCode === 32) {
            window.location.href = '@Url.Action("Index", "Typing")';
        }
        if (event.keyCode === 16) {
            window.location.href = '@Url.Action("ChoseBook", "Home")'; // name?
        }
        if (event.keyCode === 27) {
            window.location.href = '@Url.Action("Settings", "Home")'; // ?
        }

        //ToDo - ukryty tekst dla niewidomych który mówi aby nacisnąć 'B' aby przejść do trybu dla niewidomych + event
    };
</script>