<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>typingbook.net</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid menu">
        <button a href="#" type="button" class="btn btn-outline-dark border-top-0 rounded-0">typingBook.net</button>
        <button a href="#" type="button" class="btn btn-outline-dark border-top-0 rounded-0">Type!</button>
        <button a href="#" type="button" class="btn btn-outline-dark border-top-0 rounded-0">choseBook</button>
        <button a href="#" type="button" class="btn btn-outline-dark border-top-0 rounded-0">settings</button>
        <button a href="#" type="button" class="btn btn-outline-dark border-top-0 rounded-0" data-toggle="collapse" data-target="#logindiv">LogIN</button>

        <div id="logindiv" class="collapse container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" id="usr" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="password">
                </div>
                <button type="submit" class="btn btn-outline-dark rounded-0">Submit</button>
            </form>
        </div>
    </div>
    @Html.ActionLink("typingBook.net", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("About", "About", "Home")
    @Html.ActionLink("Contact", "Contact", "Home")

    <div class="container typingarea">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
